@model IEnumerable<Unidad_2_Actividad_2.Models.ViewModels.RazaPaisViewModel>
@{
	Layout = "Layout";
}
<section class="nav">
	<h3>Razas por país</h3>
	<nav>
		<a href="~/">Listado Alfabético de Razas</a>
	</nav>
</section>

<section class="list">

	@foreach (var p in Model)
	{
		<h4>@p.Nombre</h4>
		<ul>
			@foreach (var r in p.Razas)
			{
				<li>
					<a href="~/raza/@r.Nombre.Replace(" ","-")">
						<img src="~/imgs_perros/@(r.Id)_0.jpg" />
						@r.Nombre
					</a>
				</li>
			}

		</ul>
	}
</section>